.main-page {
    width: 100%;
    height: 100%;
    background: #000;
    overflow: hidden;
}

.audio {
    position: fixed;
    z-index: 3;
    top: 50vh;
}

.star-wars-animation__fade {
    position: relative;
    width: 100%;
    min-height: 60vh;
    top: -25px;
    background-image: linear-gradient(0deg, transparent, black 75%);
    z-index: 1;
}

.star-wars-animation {
    display: flex;
    justify-content: center;
    position: relative;
    height: 800px;
    color: #feda4a;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 500%;
    font-weight: 600;
    letter-spacing: 6px;
    line-height: 150%;
    perspective: 400px;
    text-align: justify;
}

  .star-wars-animation__movement {
    position: relative;
    top: 1000px;
    transform-origin: 50% 100%;
    animation: star-wars-animation__movement 30s linear infinite;
}

  .star-wars-animation__movement > .star-wars-animation__text {
    font-size: 90%;
    text-align: center;
}

  .star-wars-animation__movement > .star-wars-animation__text h1 {
    margin: 0 0 100px;
    text-transform: uppercase;
}

  @keyframes star-wars-animation__movement {
    0% {
      top: -100px;
      transform: rotateX(20deg)  translateZ(0);
    }
    100% {
      top: -6000px;
      transform: rotateX(25deg) translateZ(-2500px);
    }
}
