@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.main-page {
    max-width: 1280px;
    margin: 0 auto;
}

.header {
    display: flex;
    flex-flow: column wrap;
}

.header .logo {
    font-family: 'Roboto';
    font-size: 80px;
    line-height: 94px;
    color: #000000;
    text-decoration: none;
    margin-top: 61px;
    margin-bottom: 38px;
    margin-right: auto;
}

.header .logo--decorated {
    color: #4bcaff;
}

.header .menu .menu-list {
    display: flex;
    justify-content: center;
    background-color: #35444F;
}

.header .menu .menu-list .menu-item {
    border-left: 1px solid white;
    height: 72px;
}

.header .menu .menu-list .menu-item:last-child {
    border-right: 1px solid white;
}

.header .menu .menu-list .menu-item a {
    font-size: 24px;
    line-height: 28px;
    font-family: 'Roboto';
    color: white;
    text-decoration: none;
    text-align: center;
    display: flex;
    align-items: center;
    flex-grow: 1;
    height: 100%;
    padding-left: 38px; padding-right: 38px;
}

.header .menu .menu-list a:hover {
    justify-content: center;
    color: #ffffff;
    background-color: #222F3A;
}

.main {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.main .left-menu {
    margin-right: 25px;
}

.main .left-menu ul {
    display: flex;
    flex-direction: column;
    border: 1px solid #000000;
    width: 344px;
}

.main .left-menu ul li {
    height: 100%;
}

.main .left-menu ul a {
    display: flex;
    align-items: center;
    font-size: 27px;
    font-family: 'Roboto';
    color: #495863;
    text-decoration: none;
    height: 100%;
    padding: 0 44px;
    min-height: calc(399px / 5);
}

.main .left-menu ul a:hover {
    justify-content: center;
    color: #1a1b1d;
    background-color: #DBDBDB;
}

.right-content {
    margin-left: 25px;
    justify-content: center;
    align-items: center;
}

.right-content__container {
    height: 530px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.right-content__container-img {
    background-image: url("../img/ramda_emblem.png");
    background-repeat: no-repeat;
    width: 320px;
    height: 381px;
    transition: transform 1s;
}

.right-content__container-img:hover {
    transform: scale(1.2);
}

.right-content p {
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    padding-top: 27px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgba(99, 105, 110, 0.48);
    /* height: 69px; */
    min-height: 69px;
    padding: 0 40px;
    margin-top: 54px;
    margin-bottom: 30px;
}

.footer .menu ul {
    display: flex;
    flex-wrap: wrap;
}

.footer .menu ul li {
    margin: 0 20px;
}

.footer .menu ul li:first-child {
    margin-left: 0px;
}

.footer .menu ul li:last-child {
    margin-right: 0px;
}

.footer .menu ul a {
    font-size: 28px;
    line-height: 28px;
    font-family: 'Roboto';
    color: #010101;
    text-decoration: none;
}

.footer .menu ul a:hover {
    color: #5869b1;
    text-decoration-line: underline;
    text-underline-offset: 10px;
}

.footer span{
    font-size: 24px;
    line-height: 24px;
    font-family: 'Roboto';
    color: #010101;
    text-decoration: none;
}

@media screen and (max-width: 800px) {
    .header .menu ul, .main, .footer .menu ul {
        flex-direction: column;
    }

    .header .menu ul li, .main, .footer .menu ul li{
        border: none;
        margin: 0;
    }

    .header .menu ul a {
        justify-content: center;
    }
}
