@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.main-page {
    width: 100%;
    margin: 0 auto;
    background-image: url("../img/milan-hol-bg.jpg");
    height: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    width: calc(600px + 423px);
    margin: 0 auto;
}

.milan-hol-header {
    background-color: transparent;
    padding-top: 50px;
    height: 61px;
}

.milan-hol-header .container {
    display: flex;
    justify-content: space-between;
}

.milan-hol-header-left {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.milan-hol__logo {
    text-decoration: none;
}

.milan-hol__logo:hover {
    /* color: rgba(242, 101, 34, 1); */
    transition: 0.21s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    filter: invert(47%) sepia(74%) saturate(1620%) hue-rotate(344deg) brightness(94%) contrast(101%);
}

.milan-hol-header-left__title-box {
    display: inline-block;
    word-wrap: break-word;
    width: 90px;
    padding: 0px 8px;
}

.milan-hol__logo-img {
    width: 53px;
    height: 47px;
}

.milan-hol-header-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.milan-hol__logo-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0px;
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
}

.top {
    font-size: 29px;
    line-height: 29px;
}

.bottom {
    font-size: 18px;
    line-height: 18px;
}

.milan-hol__text {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0px;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    text-align: right;
}

.milan-hol__text .normal {
    font-size: 18px;
    line-height: 18px;
}

.milan-hol-header-right a:hover {
    color: rgba(242, 101, 34, 1);
    transition: 0.21s  cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.milan-hol-content {
    padding-top: 17px;
    padding-bottom: 49px;
}

.milan-hol-content_link {
    text-decoration: none;
    transition: 0.6s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.milan-hol-content_link:hover figcaption {
    color: rgba(242, 101, 34, 1);
}

.milan-hol-content .container {
    /* height: calc(600px + 78px); */
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    grid-column-gap: 61px;
    grid-row-gap: 27px;
    background-color: transparent;
}

.milan-hol-content_thumbnail {
    max-width: 300px;
    position: relative;
}

.milan-hol-content_thumbnail img{
    width: 100%;
    position: relative;
    box-sizing: border-box;

    display: grid;
    grid-auto-flow: row;
    justify-content: center;
    grid-row-gap: 20px;


    /* border-width: 2px;
    border-style: hidden inset;
    border-image:
      linear-gradient(
        to bottom,
        rgb(240, 239, 239),
        rgba(0, 0, 0, 0)
      ) 1 100%; */
}

.milan-hol-content_thumbnail__preview {
    /* text-align: center;
    height: 100%;
    box-sizing: border-box;
    transition: .9s ease-in-out;
    color: white;
    display: none; */

    position: absolute;
    color: rgba(255, 255, 255, 1);;
    transition: 0.6s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    opacity: 0;
    /* -------------- */
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-areas:
    "from from"
    "price details";
    /* -------------- */
    width: 100%; height: 55px;
    top: 165px;

}

.milan-hol-content_link:hover .milan-hol-content_thumbnail__preview {
    box-shadow: inset 0 -60px 0 rgba(242, 101, 34, 1);
    opacity: 1;
}

.milan-hol-content_thumbnail__preview-price-text {
    grid-area: from;
    justify-self: start;
    font-size: 10px;
    line-height: 10px;
    padding: 0 16px;
}

.milan-hol-content_thumbnail__preview-price-tag {
    grid-area: price;
    font-size: 20px;
    line-height: 20px;
    padding: 0 16px;
}

.milan-hol-content_thumbnail__preview-tour-detailis {
    grid-area: details;
    font-size: 14px;
    line-height: 14px;
}

.milan-hol-content_thumbnail__preview-tour-detailis::after {
    content: ">";
    font-size: 20px;
    line-height: 20px;
    padding: 151px 15px;
}


/* #anim_block {
    position:absolute;
    width: 250рх;
    top: 175px;
    left: 260px;
}

#anim_block:hover {
    color: rgba(255, 255, 255, 1);
}

.slideUp{
    position: absolute;
    transition: .4s ease-in-out;
    z-index: 1;
    color: rgba(255, 255, 255, 1);

    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-areas:
    "from from"
    "price details";

    width: 100%; height: 25%;
    bottom: -10px;

    animation-name: slideUp;
    -webkit-animation-name: slideUp;

    animation-duration: 1s;
    -webkit-animation-duration: 1s;

    animation-timing-function: ease;
    -webkit-animation-timing-function: ease;

    visibility: visible !important;
}

@keyframes slideUp {
    0% {
        transform: translateY(100%);
    }
    50%{
        transform: translateY(-8%);
    }
    65%{
        transform: translateY(4%);
    }
    80%{
        transform: translateY(-4%);
    }
    95%{
        transform: translateY(2%);
    }
    100% {
        transform: translateY(0%);
    }
}

@-webkit-keyframes slideUp {
    0% {
        -webkit-transform: translateY(100%);
    }
    50%{
        -webkit-transform: translateY(-8%);
    }
    65%{
        -webkit-transform: translateY(4%);
    }
    80%{
        -webkit-transform: translateY(-4%);
    }
    95%{
        -webkit-transform: translateY(2%);
    }
    100% {
        -webkit-transform: translateY(0%);
    }
} */



.milan-hol-content_caption {
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    padding-top: 20px;
    padding-bottom: 10px;
}

.milan-hol-footer {
    align-items: center;
    padding-bottom: 15px;
}

.milan-hol-footer .container {
    max-height: 65px;
    display: flex;
    justify-content: center;
}

.milan-hol__text-smaller {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0px;
    color: rgba(255, 255, 255, 1);
    font-size: 12px;
    line-height: 12px;
    text-align: center;
}
