@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

.main-page {
    background: url("../img/background.jpg") no-repeat center center fixed;
    background-size: cover;
}

.wrap {
    display: flex;
    flex-flow: column nowrap;
    width: 100vw;
    height: 100vh;
}

.header {
    background-color: rgba(0, 0, 0, 0.4);
    font-family: 'Ubuntu';
    display: flex;
    justify-content: space-between;
    padding: 18px 79px;
}

.header * {
    opacity: 0.7;
    transition: opacity .2s ease-in-out;
}

.header:hover * {
    opacity: 1;
}

.header .journey-logo {
    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
}

.header .journey-logo__link {
    text-decoration: none;
    color: white;
    transition: color .3s ease-in-out;
}

.header .journey-logo__link:hover {
    color: #3CB878;
}

.header .right-side {
    display: flex;
    align-items: center;
}

.icon-bar {
    display: flex;
}

.header .icon-bar{
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    padding: 0 12px;
    margin-right: 24px;
}

.header .icon-bar__item {
    margin: 0 12px;
}

.header .svg-icon {
    fill: white;
    transition: fill .2s ease-in-out;
}

.header .svg-icon:hover {
    fill: #3CB878;
}

.header-welcome-text,
.header-welcome-text a{
    font-size: 14px;
    text-decoration: none;
    color: #FFFFFF;
    transition: color .2s ease-in-out;
}

.header-welcome-text a:hover {
    color: #3CB878;
}

.main {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-up-form {
    font-family: 'Ubuntu';
    background-color: white;
}

.form-container {
    position: relative;
    padding: 30px 60px 38px 60px;
    min-width: 300px;
}

.form-header::before {
    position: absolute;
    left: 0;
    content:'';
    display: block;
    background-color: #3CB878;
    width: 18px; height: 18px;
}

.form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}

.form-link {
    font-size: 14px;
    text-decoration: none;
    color: #3CB878;
}

.form-title {
    color: #434343;
    font-size: 20px;
    line-height: 20px;
}

.personal-data {
    display: flex;
    flex-direction: column;
    margin-top: 4px;
    margin-bottom: 20px;
}

.personal-data input {
    font-size: 14px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    padding: 12px;
    margin: 5px 0;
}

.personal-data input:focus {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    outline: 0;
}

.personal-data input::placeholder {
    color: #BEBEBE;
}

.personal-data .form-link {
    text-decoration: underline;
}

.agreement {
    margin-top: 6px;
}

.agreement-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.agreement-label {
    font-size: 14px;
    position: relative;
    padding-left: 30px;
}

.agreement-label .form-link {
    display: inline-block;
    text-decoration: none;
}

.agreement-label::before,
.agreement-label::after {
    position: absolute;
    content: "";
    display: inline-block;
}

.agreement-label::before {
    border: 1px solid #F2F2F2;
    width: 20px; height: 20px;
    top: -3px; left: 0;
}

.agreement-label::after {
    border-left: 2px solid #3CB878;
    border-bottom: 2px solid #3CB878;
    transform: rotate(-45deg);
    width: 12px; height: 6px;
    top: 3px; left: 4px;
}

.agreement-checkbox:not(:checked) + .agreement-label::after {
    content: none;
}

.agreement-checkbox:checked + .agreement-label::after {
    content: "";
}

.agreement-checkbox:not(:checked) + .agreement-label:active::after,
.agreement-checkbox:checked + .agreement-label:active::after,
.agreement-checkbox:active:not(:checked) + .agreement-label::after,
.agreement-checkbox:active:checked + .agreement-label::after {
    content: "";
    border-color: #01813F;
}

.agreement-checkbox:focus + .agreement-label::before {
    outline: rgb(59, 153, 252) auto 5px;
}

.btn-bar {
    display: flex;
    margin-bottom: 26px;
}

.btn {
    font-size: 16px;
    border: none;
    border-radius: 4px;
    opacity: 0.9;
    color: white;
    transition: opacity .1s ease-in-out;
    padding: 12px;
    margin: 5px 0;
}

.btn.facebook, .btn.google {
    text-decoration: none;
    flex: 1 0 25%;
    display: flex;
    justify-content: center;
}

.btn.facebook {
    background-color: #305DB8;
    margin-right: 2px;
}

.btn.google {
    background-color: #DF4A32;
    margin-left: 2px;
}

.btn.google span,
.btn.facebook span {
    flex: 1 0 25%;
    text-align: center;
}

.btn.facebook i {
    font-size: 19px;
    border-right: 2px solid rgba(10,22,47,.1);
    padding-right: 8px;
}

.btn.google i {
    font-size: 19px;
    border-right: 2px solid rgba(43,13,9,.1);
    padding-right: 8px;
}

.create-account {
    background-color: #3CB878;
    outline: 0;
    width: 100%;
}

.form-link:hover {
    color: #01813F;
    text-decoration: underline;
}

.btn:hover{
    opacity: 1;
}

.btn.create-account:active {
    background-color: #01813F;
}

.btn.facebook:active {
    background-color: #022263;
}

.btn.google:active {
    background-color: #AB1F09;
}

.separator {
    color: #848484;
    display: flex;
    align-items: center;
    text-align: center;
}

.separator span {
    margin-left: .25em; margin-right: .25em;
}

.separator::before,
.separator::after {
    content: '';
    flex: 1;
    border-bottom: 2px solid #F2F2F2;
}
