@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

/* @import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css');
@import url('https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js');
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js'); */

html {
    overflow: hidden;
}

.main-page {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 50px;
}

.parallax-section {
    position: relative;
    width: 100%;
    overflow: hidden;
}

/* очень быстрый параллакс */
.parallax-section::before {
    content: '';
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -1;
    transform: translateZ(-600px) scale(13);
    background: center/cover no-repeat;
}


.header {
    display: flex;
    justify-content: space-between;
    background-color: rgba(49, 49, 49, 1);
}

.header .logo-small-img {
    margin: 21px 27px;
}

.header .logo-text {
    font-family: 'Open Sans';
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    display: flex;
    align-items: center;
    text-decoration: none;
}

.header .logo {
    font-family: 'Open Sans';
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0px;
    text-decoration: none;
    margin-top: 61px;
    margin-bottom: 38px;
    margin-right: auto;
}

.header .menu-list {
    display: flex;
    justify-content: center;
}

.header .menu-item {
    height: 70px;
}

.header .menu-item:last-child {
    margin-right: 70px;
}

.header .menu-item a {
    font-size: 15px;
    line-height: 20px;
    font-family: 'Open Sans';
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    text-align: center;
    display: flex;
    align-items: center;
    padding: 25px calc(35px / 2);
}

.header .menu-list a:hover, .btn-search:hover {
    color: rgba(20, 185, 213, 1);

}

.btn-search {
    width: 70px;
    background-color: rgba(0, 0, 0, 1);
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
    border: none;
    padding: 10px;
    font-size: 17px;
}

.btn-search:focus{
    outline: none;
}

.main {
    /* margin-top: 0px; */
}

.header-news {
    /* background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%), url("../img/header-bg.jpeg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-news::before {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%), url("../img/header-bg.jpeg");
}

.header-news__title {
    font-family: Open Sans;
    font-size: 27px;
    font-style: normal;
    font-weight: 700;
    line-height: 37px;
    letter-spacing: 0px;
    text-align: center;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);
    margin-top: calc(163px - 22px);
    padding: 22px 22px;
}

.header-news__btn-list {
    display: flex;
    justify-content: center;
    margin-bottom: calc(74px - 22px);
}

.header-news__btn-list .btn {
    margin: 22px 10px;
    border-radius: 6px;
    height: 100%;
}

.left-green {
    background: rgba(137, 202, 98, 1);

}

.right-blue {
    background: rgba(20, 185, 213, 1);

}

.header-news__btn-item {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    padding: 0px 20px;
    min-height: 55px;
    min-width: calc(170px - 20px);
}

.most-popular-posts {
    background: rgba(242, 242, 242, 1);
    /* width: 1170px; */
}

.most-popular-posts__heading, .top-rated__heading, .hot-news__heading {
    font-family: Open Sans;
    font-size: 27px;
    font-style: normal;
    font-weight: 700;
    line-height: 37px;
    letter-spacing: 0px;
    color: rgba(24, 180, 207, 1);
    text-transform: uppercase;
    text-align: center;
    padding: 50px;
}

.most-popular-posts__box {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
  	height: 870px;
}

.most-popular-posts__post {
    background-color: rgba(255, 255, 255, 1);
    margin-bottom: 30px;
    position: relative;
    margin: 0 30px 30px 0;
    /* width: 24%; */
}

.most-popular-posts__post:hover::before {
    content: "";
    width: 100%;
    height: 100%;
    background: rgb(119, 105, 84);
    position: absolute;
    opacity: 0.15;
    z-index: 1;
}

.most-popular-posts__post:nth-child(3n+1) {
    order: 1;
}
.most-popular-posts__post:nth-child(3n+2) {
    order: 2;
}
.most-popular-posts__post:nth-child(3n) {
    order: 3;
}

.most-popular-posts__caption{
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: rgba(53, 58, 61, 1);
    padding: 20px 15px;
}

.parallax__box {
    display: flex;
    align-items: center;
    /* background-size: cover;
    background-position: top center;
    background-attachment: fixed;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%), url("../img/parallax-bg.jpeg"); */
}

.parallax__box::before{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%), url("../img/parallax-bg.jpeg");
}

.most-popular-clients__box {
    max-width: 1900px;
    min-height: 550px;
    margin: 0px auto;
}

.most-popular-clients__heading {
    font-family: Open Sans;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0px;
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
    text-align: center;
    margin-top: 108px;
    margin-bottom: 60px;
}

.most-popular-clients__heading::after {
    content: "";
    width: 60px;
    height: 3px;
    background-color: rgba(24, 180, 207, 1);
    display: block;
    margin: 87px auto 106px;
}

/* .most-popular-clients__flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.most-popular-clients__flex img:not(:last-child) {
    margin-right: 61px;
} */

.most-popular-clients__grid {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-column-gap: 58px;
}

/* изначально у этого изображ. корявое отображение */
.clients-national-post__fix::before{
    content: "";
    /* height: 22%; */
    height: 9px;
    position: relative;
    display: block;
}

.top-rated__box {
    width: 100%;
    background: rgba(255, 255, 255, 1);
}

.container-fluid {
    overflow: hidden;
    padding: 0px;
    margin-right: 0 auto;
}

/* .top-rated__grid img{
    max-width: 100%;
    width: auto;
} */

.top-rated__grid {
    display: grid;
    grid-template-columns: repeat(7, auto);
    grid-column-gap: none;
}

/* .hot-news__box {
    display: flex;
    flex-direction: column;
    align-items: center;
  	height: 1900px;
} */

/* .hot-news__post {
    background: rgba(249, 247, 247, 1);
    position: relative;
    margin: 0 30px 30px 0;
    width: 24%;
} */

/* .hot-news__post img {
    float: right;
} */

.hot-news {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: rgba(255, 255, 255, 1);
}

.hot-news__grid {
    width: 1170px;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-column-gap: 35px;
    grid-row-gap: 40px;
    margin-bottom: 70px;
}

.hot-news__post {
    background: rgba(249, 247, 247, 1);
    grid-column: span 2;
    display: grid;
}

.hot-news__post-headline {
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0px;
    color: rgba(53, 58, 61, 1);
    text-align: center;
    /* padding: 15px 25px 0px 15px; */
    grid-area: headline;
}

.hot-news__post-headline.side-headline {
    padding: 41px 10px 14px 31px;
}
.hot-news__post-headline.bottom-headline-only {
    padding: 12px 27px 12px 27px;
}

.hot-news__post-headline.bottom-headline {
    text-align: right;
    padding: 12px 14px 12px 27px;
}

.hot-news__post-desc {
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: 0px;
    color: rgba(91, 100, 105, 1);
    text-align: right;
    padding: 0px 15px 15px 15px;
    grid-area: description;
}

.hot-news__post img{
    grid-area: img;
    justify-self: stretch;
    align-self: stretch;
}

.hot-news__post.side-desc {
    grid-template-areas:
    'img  headline'
    'img  description';
    grid-template-columns: 3fr 2fr;
    /*
    grid-template-rows: 483px 373px;
    grid-template-columns: 483px 373px;
    */
}

.hot-news__post.bottom-headline-only {
    grid-template:
    'img'
    'headline';
}

.hot-news__post.bottom-desc {
    grid-template:
    'img'
    'headline'
    'description';
}

.hot-news__post:first-child  {
    grid-column: 1 / span 3;
}

.hot-news__post:nth-child(2){
    grid-column: 4;
}
.hot-news__post:nth-last-child(2){
    grid-column: 1;
}
.hot-news__post:last-child {
    grid-column: 2 / span 3;
}


/* .hot-news__post img{
    grid-area: img;
}

.hot-news__post.right img{
    grid-area: img;
    grid-row: 1 / -1;
}

.hot-news__post-headline{
    grid-area: f;
    align-self: end;
}

.hot-news__post-desc{
    grid-area: p;
    text-align: right;
    padding: 15px 15px 0px 15px;
} */

/* .a {
    grid-column: 1 / span 3;
}

.b {
    grid-column: 4;
}

.c {
    grid-column: 1 / span 2;
    grid-row: 2 ;
}

.d {
    grid-column: 3 / span 2;
    grid-row: 2 ;
}

.e {
    grid-column: 1 / span 2;
    grid-row: 3;
}

.f {
    grid-column: 3 / span 2;
    grid-row: 3;
}

.g {
    grid-column: 1;
    grid-row: 4;
}

.h {
    grid-column: 2 / span 3;
    grid-row: 4;
} */


.footer {
    background: rgba(0, 0, 0, 1);
    display: flex;
    justify-content: center;
    /* min-height: 80px; */
    padding: 30px 0px;
}

.footer__box {
    width: 1170px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: space-between;
    align-items: center;
}

.footer-copyright__text {
    font-family: Open Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 13px;
    letter-spacing: 0px;
    text-align: right;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
}

.footer-copyright-logo__img {
    display: grid;
    grid-template-columns: repeat(2, auto);
}
