@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.main-page{
    max-width: 1280px;
    margin: 0 auto;
}

.nav-menu__list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.nav-menu__item {
    margin: 0 36px;
    padding: 25px 0;
}

.nav-menu__item:last-child{
    margin-left: 14px;
}

.nav-menu__link{
    font-size: 18px;
    font-family: 'Montserrat';
    font-weight: 700;
    color: #FF0000;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.background-image__container{
    background-image: url("../img/homepage__iphone-image.jpg");
    height: 789px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.article-heading {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-top: 48px;
    padding-bottom: calc(48px - 14px);
    margin: 0 150px;
}

/* .article-heading__headline {
    font-family: 'Montserrat';
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #373737;
} */

.article-heading h2 {
    font-family: 'Montserrat';
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #373737;
}

.article-content {
    margin: 0 68px;
}

/* .article-content__text {
    font-size: 16px;
    font-family: 'Montserrat';
    text-align: center;
    line-height: 26px;
    letter-spacing: 3px;
    color: #373737;
    padding: 14px 0;
} */

.article-content p {
    font-size: 16px;
    font-family: 'Montserrat';
    text-align: center;
    line-height: 26px;
    letter-spacing: 3px;
    color: #373737;
    padding: 14px 0;
}

.get-started__button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: calc(66px - 14px);
    padding-bottom: calc(82px / 2);
}

.button {
    background-color: #FF0000;
    border-radius: 4px;
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    padding: 17px 43px;
}

.copyright {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: calc(82px / 2);
    padding-bottom: 30px;
}

/* .copyright__text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    text-align: center;
    letter-spacing: 2px;
    color: #373737;
} */

.copyright p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    text-align: center;
    letter-spacing: 2px;
    color: #373737;
}
